<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Farmacontrol_PDV.Properties.Configuracion" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Farmacontrol_PDV.Configuracion" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Farmacontrol_PDV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <clear/>
    <!-- CONFIGURACIÓN ORIGINAL - SERVIDOR REMOTO (COMENTADO)
    <add key="server" value="192.168.1.251"/>
    <add key="server_beneficios" value="192.168.1.251"/>
    <add key="database" value="farmacontrol_global"/>
    <add key="user" value="farmacontrol"/>
    <add key="password" value="farmacontrol"/>
    -->
    
    <!-- CONFIGURACIÓN DOCKER LOCAL -->
    <!-- NOTA: Ambas bases de datos (global y local) están en el mismo servidor MySQL -->
    <add key="server" value="localhost"/>
    <add key="server_beneficios" value="localhost"/>
    <add key="database" value="farmacontrol_global"/>
    <add key="user" value="farmacontrol"/>
    <add key="password" value="farmacontrol123"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MantisConnectBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="ACP-CFDIBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="WSCirculodelaSaludSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="CFDISoap11Binding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="8192" maxNameTableCharCount="16384"/>
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
        </binding>
        <binding name="PxUniversalSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
        <binding name="WSCirculodelaSaludSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
      <basicHttpsBinding>
        <binding name="PxUniversalSoap">
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="PxUniversalSoap1"/>
      </basicHttpsBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="allowDelegation">
          <clientCredentials>
            <windows allowedImpersonationLevel="Delegation" allowNtlm="true"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://mantis.farmaciascomercio.com/api/soap/mantisconnect.php" binding="basicHttpBinding" bindingConfiguration="MantisConnectBinding" contract="Mantis_connect.MantisConnectPortType" name="MantisConnectPort"/>
      <endpoint address="http://acpdelsureste.com.mx/productos/cfdi.php" binding="basicHttpBinding" bindingConfiguration="ACP-CFDIBinding" contract="ACP.ACPCFDIPortType" name="ACP-CFDIPort"/>
      <endpoint address="https://dev.integracionesqapx.com.mx/wsUniversal/pxUniversal.asmx" behaviorConfiguration="allowDelegation" binding="basicHttpsBinding" bindingConfiguration="PxUniversalSoap" contract="tae_diestel_new.PxUniversalSoap" name="PxUniversalSoap"/>
      <endpoint address="https://dev.integracionesqapx.com.mx/wsUniversal/pxUniversal.asmx" binding="customBinding" bindingConfiguration="PxUniversalSoap12" contract="tae_diestel_new.PxUniversalSoap" name="PxUniversalSoap12"/>
      <endpoint address="http://189.202.202.107/nadro_pruebas/WSCirculodelasalud.asmx" binding="basicHttpBinding" bindingConfiguration="WSCirculodelaSaludSoap" contract="circulo_salud.WSCirculodelaSaludSoap" name="WSCirculodelaSaludSoap"/>
      <endpoint address="http://189.202.202.107/nadro_pruebas/WSCirculodelasalud.asmx" binding="customBinding" bindingConfiguration="WSCirculodelaSaludSoap12" contract="circulo_salud.WSCirculodelaSaludSoap" name="WSCirculodelaSaludSoap12"/>
    </client>
  </system.serviceModel>
  <userSettings>
    <Farmacontrol_PDV.Properties.Configuracion>
      <setting name="impresora_tickets" serializeAs="String">
        <value/>
      </setting>
      <setting name="impresora_etiquetas" serializeAs="String">
        <value/>
      </setting>
      <setting name="main_server" serializeAs="String">
        <value>admin.cfarmacias.lan</value>
      </setting>
      <setting name="usuario" serializeAs="String">
        <value/>
      </setting>
      <setting name="password" serializeAs="String">
        <value/>
      </setting>
      <setting name="nombre_empleado" serializeAs="String">
        <value>MIJAEL HERNANDEZ LOPEZ</value>
      </setting>
      <setting name="server_espejos" serializeAs="String">
        <value>172.16.1.240</value>
      </setting>
      <setting name="rest_timeout" serializeAs="String">
        <value>90000</value>
      </setting>
      <setting name="empleado_id" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="impresora_escaner" serializeAs="String">
        <value/>
      </setting>
      <!-- CONFIGURACIÓN DOCKER - ID de terminal/caja -->
      <setting name="uuid_terminal" serializeAs="String">
        <value>6</value>
      </setting>
      <!-- CONFIGURACIÓN ORIGINAL - SERVIDOR REMOTO (COMENTADO)
      <setting name="db_server" serializeAs="String">
        <value>192.168.1.103</value>
      </setting>
      <setting name="db_port" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="db_user" serializeAs="String">
        <value>joseph</value>
      </setting>
      <setting name="db_password" serializeAs="String">
        <value>sabido</value>
      </setting>
      <setting name="db_name" serializeAs="String">
        <value>farmacontrol_global</value>
      </setting>
      <setting name="db_connection_time_out" serializeAs="String">
        <value>10</value>
      </setting>
      -->
      <!-- CONFIGURACIÓN DOCKER LOCAL - Base de datos GLOBAL (puerto 3306) -->
      <setting name="db_server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="db_port" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="db_user" serializeAs="String">
        <value>farmacontrol</value>
      </setting>
      <setting name="db_password" serializeAs="String">
        <value>farmacontrol123</value>
      </setting>
      <setting name="db_name" serializeAs="String">
        <value>farmacontrol_global</value>
      </setting>
      <setting name="db_connection_time_out" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="destino_facturas" serializeAs="String">
        <value/>
      </setting>
      <setting name="impresora_remota_tickets" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="usar_impresora_remota_tickets" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="impresora_remota_etiquetas" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="usar_impresora_remota_etiquetas" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="nivel_contraste" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="nivel_brillo" serializeAs="String">
        <value>0</value>
      </setting>
    </Farmacontrol_PDV.Properties.Configuracion>
    <Farmacontrol_PDV.Configuracion>
      <setting name="main_server" serializeAs="String">
        <value>192.18.1.103</value>
      </setting>
    </Farmacontrol_PDV.Configuracion>
    <Farmacontrol_PDV.Properties.Settings>
      <setting name="impresora_tickets" serializeAs="String">
        <value/>
      </setting>
      <setting name="impresora_etiquetas" serializeAs="String">
        <value/>
      </setting>
    </Farmacontrol_PDV.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <requiredRuntime version="v4.0.30319"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
